<h2>Resume item entry</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div (change)="selectType($event)">
		<input type="radio" name="type" id="edu" value="edu" formControlName="type">
		<label for="edu">Education</label>
		<input type="radio" name="type" id="job" value="job" formControlName="type">
		<label for="job">Work History</label>
	</div>
	<label for="name">Name</label>
	<input type="text" id="name" formControlName="name">
	<ng-container *ngIf="isJob">
	<label for="title">Job Title</label>
	<input type="text" id="title" formControlName="title">
	</ng-container>
	<label for="startdate">Start Date</label>
	<input type="text" id="startdate" formControlName="startdate">
	<label for="enddate">End Date</label>
	<input type="text" id="enddate" formControlName="enddate">
	<label for="content">Content</label>
	<input type="text" id="content" formControlName="content">
	<button type="submit" [disabled]="!form.valid">{{edit == false ? "Submit" : "Update"}}</button>

	<br/><br/>
	Value: {{ form.value | json }}
</form>

<ng-container *ngIf="!jobs.length && !edus.length; else items">
	<p>This is where resume items will go as I finish setting up a live production database</p>
</ng-container>
<ng-template #items>
	<div *ngIf="jobs.length">
		<p>Work History</p>
		<ul>
			<li *ngFor="let job of jobs">
				<app-item [item]="job"></app-item>
				<button (click)="onEdit(job)">Edit</button>
				<button (click)="onDelete(job)">Delete</button>
			</li>
		</ul>
	</div>
	<div *ngIf="edus.length">
		<p>Education</p>
		<ul>
			<li *ngFor="let edu of edus">
				<app-item [item]="edu"></app-item>
				<button (click)="onEdit(edu)">Edit</button>
				<button (click)="onDelete(edu)">Delete</button>
			</li>
		</ul>
	</div>
</ng-template>
