{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Edit {% if 'edu' == item['type'] %} edu {% else %} {{ item['type'] }} {% endif %}item {{ item['name'] }} {% endblock %}</h1>

<form method="post">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" name="name"
				placeholder="Name of company" class="form-control"
				value="{{ request.form['name'] or item['name'] }}"></input>
	</div>
	{% if 'job' == item['type'] %}
	<div class="form-group">
		<label for="title">Job Title</label>
		<input type="text" name="title"
				placeholder="Job Title" class="form-control"
				value="{{ request.form['title'] or item['title'] }}"></input>
	</div>
	{% else %}
	<div class="form-group">
		<input type="hidden" name="title" class="form-control" value="{{ item['title'] }}"></input>
	</div>
	{% endif %}
	<div class="form-group">
		<label for="start">Start</label>
		<input type="text" name="start"
				placeholder="Start date" class="form-control"
				value="{{ request.form['start'] or item['start'] }}"></input>
	</div>
	<div class="form-group">
		<label for="end">End</label>
		<input type="text" name="end"
				placeholder="End date" class="form-control"
				value="{{ request.form['end'] or item['end'] }}"></input>
	</div>
	<div class="form-group">
		<label for="content">Description</label>
		<input type="text" name="content"
				placeholder="Describe your role" class="form-control"
				value="{{ request.form['content'] or item['content'] }}"></input>
	</div>
	<div>
		<input type="hidden" name="type" class="form-control" value="{{ item['type'] }}"></input>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

<hr>

<form action="{{ url_for('delete', id=item['id']) }}" method="POST">
	<input type="submit" value="Delete Post"
			class="btn btn-danger btn-sm"
			onclick="return confirm('Are you sure you want to delete this post?')">
</form>
{% endblock %}
