{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}My Resume{% endblock %}</h1>
	<p>And this is where my resume entries will go as I develop the backend enough to store entries in a database</p>
	{% if edus %}
	<h2>Educational history</h2>
	{% for edu in edus %}
	<h3> {{edu['name']}} </h3>
		<p>{{ edu['start'] }}</p><br/>
		<p>{{ edu['end'] }}</p><br/>
		<p>{{ edu['end'] }}</p><br/>
		<p>{{ edu['content'] }}</p>
		<a href="{{ url_for('edit', id=edu['id']) }}">
			<span class="badge badge-warning">Edit</span>
		</a>
	{% endfor %}
	{% endif %}
	{% if jobs %}
	<h2>Job history</h2>
	{% for job in jobs %}
		<h3> {{job['name']}} </h3>
		<p>{{ job['title'] }}</p><br/>
		<p>{{ job['start'] }}</p><br/>
		<p>{{ job['end'] }}</p><br/>
		<p>{{ job['end'] }}</p><br/>
		<p>{{ job['content'] }}</p>
		<a href="{{ url_for('edit', id=job['id']) }}">
			<span class="badge badge-warning">Edit</span>
		</a>
	{% endfor %}
	{% endif %}
{% endblock %}
